//	 █████  ██████  ██████
//	██   ██ ██   ██ ██   ██
//	███████ ██████  ██████
//	██   ██ ██      ██
//	██   ██ ██      ██
// 
//	#app
html {
	font-size: .625em;
}
@include utils-class('app') {
	@include utils-extend('text', 'default' 'size-normal');
}
@include utils-normalize();