// /*
//  ███████ ██████   ██████  ███████
//  ██      ██   ██ ██       ██
//  █████   ██   ██ ██   ███ █████
//  ██      ██   ██ ██    ██ ██
//  ███████ ██████   ██████  ███████
// */
// #edge
@include utils-placeholder('edge', 'margin-row') {
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}
@include utils-placeholder-extend('edge', 'row-margin', 'edge', 'margin-row');
@include utils-placeholder('edge', 'padding-row') {
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
@include utils-placeholder-extend('edge', 'row-padding', 'edge', 'padding-row');
@include utils-placeholder('edge', 'margin-column') {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
@include utils-placeholder-extend('edge', 'column-margin', 'edge', 'margin-column');
@include utils-placeholder('edge', 'padding-column') {
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
}
@include utils-placeholder-extend('edge', 'column-padding', 'edge', 'padding-column');