// /*
//   ██████   █████  ██████
//  ██       ██   ██ ██   ██
//  ██   ███ ███████ ██████
//  ██    ██ ██   ██ ██
//   ██████  ██   ██ ██
// */
// #gap
$utils-gap-sizes: 5 10 15 20 25 30 35 40 45 50 !default;

@each $size in $utils-gap-sizes {
	$size-em: utils-em($size);
	$size-rem: utils-rem($size);

	// Относительные значения
	// ----------------------
	// margin relative
	@include utils-placeholder('gap', 'margin-left-#{$size}r') {
		margin-left: $size-em;
	}
	@include utils-placeholder-extend('gap', 'left-margin-#{$size}r', 'gap', 'margin-left-#{$size}r');
	@include utils-placeholder('gap', 'margin-right-#{$size}r') {
		margin-right: $size-em;
	}
	@include utils-placeholder-extend('gap', 'right-margin-#{$size}r', 'gap', 'margin-right-#{$size}r');
	@include utils-placeholder('gap', 'margin-top-#{$size}r') {
		margin-top: $size-em;
	}
	@include utils-placeholder-extend('gap', 'top-margin-#{$size}r', 'gap', 'margin-top-#{$size}r');
	@include utils-placeholder('gap', 'margin-bottom-#{$size}r') {
		margin-bottom: $size-em;
	}
	@include utils-placeholder-extend('gap', 'bottom-margin-#{$size}r', 'gap', 'margin-bottom-#{$size}r');
	@include utils-placeholder('gap', 'margin-row-#{$size}r') {
		margin-left: $size-em;
		margin-right: $size-em;
	}
	@include utils-placeholder-extend('gap', 'row-margin-#{$size}r', 'gap', 'margin-row-#{$size}r');
	@include utils-placeholder('gap', 'margin-column-#{$size}r') {
		margin-top: $size-em;
		margin-bottom: $size-em;
	}
	@include utils-placeholder-extend('gap', 'column-margin-#{$size}r', 'gap', 'margin-column-#{$size}r');
	@include utils-placeholder('gap', 'margin-#{$size}r') {
		margin: $size-em;
	}

	// padding relative
	@include utils-placeholder('gap', 'padding-left-#{$size}r') {
		padding-left: $size-em;
	}
	@include utils-placeholder-extend('gap', 'left-padding-#{$size}r', 'gap', 'padding-left-#{$size}r');
	@include utils-placeholder('gap', 'padding-right-#{$size}r') {
		padding-right: $size-em;
	}
	@include utils-placeholder-extend('gap', 'right-padding-#{$size}r', 'gap', 'padding-right-#{$size}r');
	@include utils-placeholder('gap', 'padding-top-#{$size}r') {
		padding-top: $size-em;
	}
	@include utils-placeholder-extend('gap', 'top-padding-#{$size}r', 'gap', 'padding-top-#{$size}r');
	@include utils-placeholder('gap', 'padding-bottom-#{$size}r') {
		padding-bottom: $size-em;
	}
	@include utils-placeholder-extend('gap', 'bottom-padding-#{$size}r', 'gap', 'padding-bottom-#{$size}r');
	@include utils-placeholder('gap', 'padding-row-#{$size}r') {
		padding-left: $size-em;
		padding-right: $size-em;
	}
	@include utils-placeholder-extend('gap', 'row-padding-#{$size}r', 'gap', 'padding-row-#{$size}r');
	@include utils-placeholder('gap', 'padding-column-#{$size}r') {
		padding-top: $size-em;
		padding-bottom: $size-em;
	}
	@include utils-placeholder-extend('gap', 'column-padding-#{$size}r', 'gap', 'padding-column-#{$size}r');
	@include utils-placeholder('gap', 'padding-#{$size}r') {
		padding: $size-em;
	}

	// combine relative
	@include utils-placeholder('gap', 'combine-#{$size}r') {
		margin-top: $size-em;
		margin-bottom: $size-em;
		padding-left: $size-em;
		padding-right: $size-em;
	}
	@include utils-placeholder('gap', 'combine-alt-#{$size}r') {
		margin-left: $size-em;
		margin-right: $size-em;
		padding-top: $size-em;
		padding-bottom: $size-em;
	}

	// Абсолютные значения
	// -------------------
	// margin absolute
	@include utils-placeholder('gap', 'margin-left-#{$size}') {
		margin-left: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'left-margin-#{$size}', 'gap', 'margin-left-#{$size}');
	@include utils-placeholder('gap', 'margin-right-#{$size}') {
		margin-right: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'right-margin-#{$size}', 'gap', 'margin-right-#{$size}');
	@include utils-placeholder('gap', 'margin-top-#{$size}') {
		margin-top: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'top-margin-#{$size}', 'gap', 'margin-top-#{$size}');
	@include utils-placeholder('gap', 'margin-bottom-#{$size}') {
		margin-bottom: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'bottom-margin-#{$size}', 'gap', 'margin-bottom-#{$size}');
	@include utils-placeholder('gap', 'margin-row-#{$size}') {
		margin-left: $size-rem;
		margin-right: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'row-margin-#{$size}', 'gap', 'margin-row-#{$size}');
	@include utils-placeholder('gap', 'margin-column-#{$size}') {
		margin-top: $size-rem;
		margin-bottom: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'column-margin-#{$size}', 'gap', 'margin-column-#{$size}');
	@include utils-placeholder('gap', 'margin-#{$size}') {
		margin: $size-rem;
	}

	// padding absolute
	@include utils-placeholder('gap', 'padding-left-#{$size}') {
		padding-left: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'left-padding-#{$size}', 'gap', 'padding-left-#{$size}');
	@include utils-placeholder('gap', 'padding-right-#{$size}') {
		padding-right: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'right-padding-#{$size}', 'gap', 'padding-right-#{$size}');
	@include utils-placeholder('gap', 'padding-top-#{$size}') {
		padding-top: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'top-padding-#{$size}', 'gap', 'padding-top-#{$size}');
	@include utils-placeholder('gap', 'padding-bottom-#{$size}') {
		padding-bottom: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'bottom-padding-#{$size}', 'gap', 'padding-bottom-#{$size}');
	@include utils-placeholder('gap', 'padding-row-#{$size}') {
		padding-left: $size-rem;
		padding-right: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'row-padding-#{$size}', 'gap', 'padding-row-#{$size}');
	@include utils-placeholder('gap', 'padding-column-#{$size}') {
		padding-top: $size-rem;
		padding-bottom: $size-rem;
	}
	@include utils-placeholder-extend('gap', 'column-padding-#{$size}', 'gap', 'padding-column-#{$size}');
	@include utils-placeholder('gap', 'padding-#{$size}') {
		padding: $size-rem;
	}

	// combine absolute
	@include utils-placeholder('gap', 'combine-#{$size}') {
		margin-top: $size-rem;
		margin-bottom: $size-rem;
		padding-left: $size-rem;
		padding-right: $size-rem;
	}
	@include utils-placeholder('gap', 'combine-alt-#{$size}') {
		margin-left: $size-rem;
		margin-right: $size-rem;
		padding-top: $size-rem;
		padding-bottom: $size-rem;
	}
}

@mixin utils-gap--mods($class, $sizes: $utils-gap-sizes, $default-size: null) {
	$class-name: utils-class-name($class);
	
	@if $default-size {
		&.#{$class-name}--gap-margin {
			@include utils-extend('gap', 'margin-#{$default-size}');
		}
		&.#{$class-name}--gap-margin-row {
			@include utils-extend('gap', 'margin-row-#{$default-size}');
		}
		&.#{$class-name}--gap-margin-column {
			@include utils-extend('gap', 'margin-column-#{$default-size}');
		}
		&.#{$class-name}--gap-padding {
			@include utils-extend('gap', 'padding-#{$default-size}');
		}
		&.#{$class-name}--gap-padding-row {
			@include utils-extend('gap', 'padding-row-#{$default-size}');
		}
		&.#{$class-name}--gap-padding-column {
			@include utils-extend('gap', 'padding-column-#{$default-size}');
		}
		&.#{$class-name}--gap-combine {
			@include utils-extend('gap', 'combine-#{$default-size}');
		}
		&.#{$class-name}--gap-combine-alt {
			@include utils-extend('gap', 'combine-alt-#{$default-size}');
		}
	}

	@each $size in $sizes {
		@if $size != $default-size {
			&.#{$class-name}--gap-margin-#{$size} {
				@include utils-extend('gap', 'margin-#{$size}');
			}
			&.#{$class-name}--gap-margin-row-#{$size} {
				@include utils-extend('gap', 'margin-row-#{$size}');
			}
			&.#{$class-name}--gap-margin-column-#{$size} {
				@include utils-extend('gap', 'margin-column-#{$size}');
			}
			&.#{$class-name}--gap-padding-#{$size} {
				@include utils-extend('gap', 'padding-#{$size}');
			}
			&.#{$class-name}--gap-padding-row-#{$size} {
				@include utils-extend('gap', 'padding-row-#{$size}');
			}
			&.#{$class-name}--gap-padding-column-#{$size} {
				@include utils-extend('gap', 'padding-column-#{$size}');
			}
			&.#{$class-name}--gap-combine-#{$size} {
				@include utils-extend('gap', 'combine-#{$size}');
			}
			&.#{$class-name}--gap-combine-alt-#{$size} {
				@include utils-extend('gap', 'combine-alt-#{$size}');
			}
		}
	}
}