// /*
//  ███    ██  ██████  ██████  ███    ███  █████  ██      ██ ███████ ███████
//  ████   ██ ██    ██ ██   ██ ████  ████ ██   ██ ██      ██    ███  ██
//  ██ ██  ██ ██    ██ ██████  ██ ████ ██ ███████ ██      ██   ███   █████
//  ██  ██ ██ ██    ██ ██   ██ ██  ██  ██ ██   ██ ██      ██  ███    ██
//  ██   ████  ██████  ██   ██ ██      ██ ██   ██ ███████ ██ ███████ ███████
// */
// #normalize

// 
//	Устарело. Использовать nullify block.
// 
@include utils-placeholder('normalize', 'block') {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: transparent;
	border: 0;
	border-radius: 0; // Fennec использует border-radius по умолчанию, надо сбрасывать
}

@include utils-placeholder-extend('normalize', 'button', 'text');
@include utils-placeholder-extend('normalize', 'button', 'normalize', 'block') {
	@include utils-vendor-prefix('appearance', none);
}

@include utils-placeholder-extend('normalize', 'text-input', 'text');
@include utils-placeholder-extend('normalize', 'text-input', 'normalize', 'block') {
	background: #fff;
}

@mixin utils-normalize() {
	svg {
		width: 3rem;
		height: 3rem;
		stroke-width: 0;

		// Маленький хак для Gecko, чтобы не было "залипания" выделения текста,
		// если оно задевает `<svg>` с тегом `<use>`
		use {
			user-select: auto;
			-moz-user-select: none;
		}
	}
}