//	███    ██ ██    ██ ██      ██      ██ ███████ ██    ██
//	████   ██ ██    ██ ██      ██      ██ ██       ██  ██
//	██ ██  ██ ██    ██ ██      ██      ██ █████     ████
//	██  ██ ██ ██    ██ ██      ██      ██ ██         ██
//	██   ████  ██████  ███████ ███████ ██ ██         ██
// 
// #nullify
// 
// Что-то типа обнуления всех стилей и отображения в виде простого текста 
// со стандартным цветом и начертанием или вообще пустого места, если речь 
// идет о блоке без содержимого

@include utils-placeholder('nullify', 'block') {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: transparent;
	border: 0;
	border-radius: 0; // Fennec использует border-radius по умолчанию, надо сбрасывать
}

@include utils-placeholder-extend('nullify', 'link', 'text');

@include utils-placeholder-extend('nullify', 'button', 'nullify', 'block') {
	@include utils-vendor-prefix('appearance', none);
}