// /*
//  ██████   █████  ██████   █████   ██████  ██████   █████  ██████  ██   ██
//  ██   ██ ██   ██ ██   ██ ██   ██ ██       ██   ██ ██   ██ ██   ██ ██   ██
//  ██████  ███████ ██████  ███████ ██   ███ ██████  ███████ ██████  ███████
//  ██      ██   ██ ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
//  ██      ██   ██ ██   ██ ██   ██  ██████  ██   ██ ██   ██ ██      ██   ██
// */
// #paragraph
$utils-paragraph-gap-sizes: 15 30 !default;
$utils-paragraph-default-gap-size: 30 !default;

@include utils-placeholder-extend('paragraph', 'default', 'paragraph', 'margin', true);
@include utils-placeholder-extend('paragraph', 'margin', 'gap', 'margin-column-#{$utils-paragraph-default-gap-size}r', true);
@each $size in $utils-paragraph-gap-sizes {
	@include utils-placeholder-extend('paragraph', 'margin-#{$size}', 'gap', 'margin-column-#{$size}', true);
	@include utils-placeholder-extend('paragraph', 'margin-#{$size}r', 'gap', 'margin-column-#{$size}r', true);
}

@mixin utils-paragraph--mods($class: 'paragraph') {
	$class-name: utils-class-name($class);
	
	@each $size in $utils-paragraph-gap-sizes {
		&.#{$class-name}--margin-#{$size} {
			@include utils-extend('paragraph', 'margin-#{$size}');
		}
		&.#{$class-name}--margin-#{$size}r {
			@include utils-extend('paragraph', 'margin-#{$size}r');
		}
	}
	&.#{$class-name}--no-margin {
		margin: 0;
	}
	&.#{$class-name}--edge {
		@include utils-extend('edge', 'margin-column');
	}
}