// /*
//  ██████  ██       █████   ██████ ███████
//  ██   ██ ██      ██   ██ ██      ██
//  ██████  ██      ███████ ██      █████  
//  ██      ██      ██   ██ ██      ██
//  ██      ███████ ██   ██  ██████ ███████
// 
//  ██   ██  ██████  ██      ██████  ███████ ██████
//  ██   ██ ██    ██ ██      ██   ██ ██      ██   ██
//  ███████ ██    ██ ██      ██   ██ █████   ██████
//  ██   ██ ██    ██ ██      ██   ██ ██      ██   ██
//  ██   ██  ██████  ███████ ██████  ███████ ██   ██
// */
// #placeholder
@mixin utils-input-placeholder-style {
	color: $utils-text-color-muted;
	opacity: .9;
}
@include utils-placeholder('input-placeholder-style') {
	@include utils-input-placeholder-style();
}
@mixin utils-input-placeholder-crossbrowser {
	// #CBFIX Chrome видите ли требует, чтобы правило с 
	// плейсхолдером находилось отдельно от всех остальных,
	// т.е. не перечислялось через запятую с другими кросс-
	// браузерными правилами для плейсхолдера
	&::-webkit-input-placeholder { // Chrome
		@include utils-input-placeholder-style();
	}
	
	&:-moz-placeholder { // Firefox 18-
		@content;
	}
	&::-moz-placeholder { // Firefox 19+
		@content;
	}
	&:-ms-input-placeholder { // IE
		@content;
	}
	&::-ms-input-placeholder { // Edge
		@content;
	}
	&::placeholder {
		@content;
	}
}
@mixin utils-input-placeholder($media: null) {
	@include utils-input-placeholder-crossbrowser() {
		@include utils-extend('input-placeholder-style', 'default', $media);
	}
}