// /*
//  ██████   ██████  ██     ██
//  ██   ██ ██    ██ ██     ██
//  ██████  ██    ██ ██  █  ██
//  ██   ██ ██    ██ ██ ███ ██
//  ██   ██  ██████   ███ ███
// */
// #row
$utils-row-gap-sizes: $utils-gap-sizes !default;
$utils-row-item-gap-sizes: 5 10 15 20 30 !default;

// Пока пусть остается миксин, хотя он вообще говоря не нужен и даже при 
// использовании в качестве импорта в другие модули
@mixin utils-row($mods: 'default') {
	@each $mod in $mods {
		@if $mod == 'default' {
			display: flex;
			align-items: center;
			justify-content: normal;
			flex-flow: row nowrap;
		}
		@if $mod == 'block' {
			display: flex;
		}
		@if $mod == 'inline' {
			display: inline-flex;
		}
		@if $mod == 'top' {
			align-items: flex-start;
		}
		@if $mod == 'stretch' {
			align-items: stretch;
		}
		@if $mod == 'safe-middle' {
			align-items: safe center;
		}
		@if $mod == 'bottom' {
			align-items: flex-end;
		}
		@if $mod == 'left' {
			justify-content: flex-start;
		}
		@if $mod == 'center' {
			justify-content: safe center;
		}
		@if $mod == 'right' {
			justify-content: flex-end;
		}
		@if $mod == 'vertical' {
			flex-direction: column;
		}
	}
}
@include utils-placeholder('row') {
	@include utils-row();
}
@include utils-placeholder('row', 'block') {
	@include utils-row('block');
}
@include utils-placeholder('row', 'inline') {
	@include utils-row('inline');
}
@include utils-placeholder('row', 'top') {
	@include utils-row('top');
}
@include utils-placeholder('row', 'stretch') {
	@include utils-row('stretch');
}
@include utils-placeholder('row', 'safe-middle') {
	@include utils-row('safe-middle');
}
@include utils-placeholder('row', 'bottom') {
	@include utils-row('bottom');
}
@include utils-placeholder('row', 'left') {
	@include utils-row('left');
}
@include utils-placeholder('row', 'center') {
	@include utils-row('center');
}
@include utils-placeholder('row', 'right') {
	@include utils-row('right');
}
@include utils-placeholder('row', 'vertical') {
	@include utils-row('vertical');
}
@include utils-placeholder-extend('row', 'margin', 'paragraph', 'margin', true);
@include utils-placeholder-extend('row', 'paragraph', 'row', 'margin', true);
@each $size in $utils-row-gap-sizes {
	@include utils-placeholder-extend('row', 'margin-#{$size}', 'gap', 'margin-column-#{$size}', true);
}
@include utils-placeholder-extend('row', 'edge', 'edge', 'margin-column');
@include utils-placeholder('row', 'wrap') {
	flex-wrap: wrap;
}
@each $size in $utils-row-item-gap-sizes {
	@include utils-placeholder-direct-child('row', 'item-margin-#{$size}', 'row-item', 'margin-#{$size}');
}

// /*
//  ██████   ██████  ██     ██
//  ██   ██ ██    ██ ██     ██
//  ██████  ██    ██ ██  █  ██
//  ██   ██ ██    ██ ██ ███ ██
//  ██   ██  ██████   ███ ███
// 
//  ██ ████████ ███████ ███    ███
//  ██    ██    ██      ████  ████
//  ██    ██    █████   ██ ████ ██
//  ██    ██    ██      ██  ██  ██
//  ██    ██    ███████ ██      ██
// */
// #row #item
@include utils-placeholder('row-item') {
	flex: 0 1 auto;
}
@each $size in $utils-row-item-gap-sizes {
	@include utils-placeholder-extend('row-item', 'margin-#{$size}', 'gap', 'margin-right-#{$size}', true);
	@include utils-placeholder-extend('row-item', 'margin-#{$size}', 'edge', 'margin-row');
}
@include utils-placeholder('row-item', 'fill') {
	flex-grow: 1;
}
@include utils-placeholder('row-item', 'no-shrink') {
	flex-shrink: 0;
}
@include utils-placeholder('row-item', 'top') {
	align-self: flex-start;
}
@include utils-placeholder('row-item', 'middle') {
	align-self: center;
}
@include utils-placeholder('row-item', 'safe-middle') {
	align-self: safe center;
}
@include utils-placeholder('row-item', 'stretch') {
	align-self: stretch;
}
@include utils-placeholder('row-item', 'bottom') {
	align-self: flex-end;
}
@include utils-placeholder('row-item', 'clip') {
	overflow: hidden;
}

@mixin utils-row-item-width($width) {
	width: $width;
	min-width: $width;
	max-width: $width;
	flex-basis: $width;
}

@mixin utils-row-item--mods($class: 'row-item') {
	$class-name: utils-class-name($class);
	
	@each $size in $utils-row-item-gap-sizes {
		&.#{$class-name}--margin-#{$size} {
			@include utils-extend('row-item', 'margin-#{$size}');
		}
	}
	&.#{$class-name}--fill {
		@include utils-extend('row-item', 'fill');
	}
	&.#{$class-name}--no-shrink {
		@include utils-extend('row-item', 'no-shrink');
	}
	&.#{$class-name}--top {
		@include utils-extend('row-item', 'top');
	}
	&.#{$class-name}--middle {
		@include utils-extend('row-item', 'middle');
	}
	&.#{$class-name}--stretch {
		@include utils-extend('row-item', 'stretch');
	}
	&.#{$class-name}--bottom {
		@include utils-extend('row-item', 'bottom');
	}
	&.#{$class-name}--clip {
		@include utils-extend('row-item', 'clip');
	}
}

