@include utils-class('row') {
	$class-name: utils-class-name('row');
	
	@include utils-extend('row');

	&#{&}--block {
		@include utils-extend('row', 'block');
	}
	&#{&}--inline {
		@include utils-extend('row', 'inline');
	}
	&#{&}--top {
		@include utils-extend('row', 'top');
	}
	&#{&}--stretch {
		@include utils-extend('row', 'stretch');
	}
	&#{&}--bottom {
		@include utils-extend('row', 'bottom');
	}
	&#{&}--left {
		@include utils-extend('row', 'left');
	}
	&#{&}--center {
		@include utils-extend('row', 'center');
	}
	&#{&}--right {
		@include utils-extend('row', 'right');
	}
	&#{&}--vertical {
		@include utils-extend('row', 'vertical');
	}
	@each $size in $utils-row-item-gap-sizes {
		&#{&}--item-margin-#{$size} {
			@include utils-direct-child('row-item', 'margin-#{$size}') {
				@each $size in $utils-row-item-gap-sizes {
					&.#{$class-name}-item--margin-#{$size} {
						@include utils-extend('row-item', 'margin-#{$size}');
					}
				}
			}
		}
	}
	&#{&}--margin,
	&#{&}--paragraph {
		@include utils-extend('row', 'margin', null, true);
	}
	@each $size in $utils-row-gap-sizes {
		&#{&}--margin-#{$size} {
			@include utils-extend('row', 'margin-#{$size}', null, true);
		}
	}
	&#{&}--edge {
		@include utils-extend('row', 'edge');
	}
}

// /*
//  ██████   ██████  ██     ██
//  ██   ██ ██    ██ ██     ██
//  ██████  ██    ██ ██  █  ██
//  ██   ██ ██    ██ ██ ███ ██
//  ██   ██  ██████   ███ ███
// 
//  ██ ████████ ███████ ███    ███
//  ██    ██    ██      ████  ████
//  ██    ██    █████   ██ ████ ██
//  ██    ██    ██      ██  ██  ██
//  ██    ██    ███████ ██      ██
// */
// #row #item
@include utils-class('row-item') {
// @include utils-class('row-item', join($utils-tags-text-input, $utils-tags-button)) {
	@include utils-extend('row-item');
	@include utils-row-item--mods();
}