// /*
//  ███████ ██████   █████   ██████ ███████ ██████
//  ██      ██   ██ ██   ██ ██      ██      ██   ██
//  ███████ ██████  ███████ ██      █████   ██████
//       ██ ██      ██   ██ ██      ██      ██   ██
//  ███████ ██      ██   ██  ██████ ███████ ██   ██
// */
// #spacer
$utils-spacer-gap-sizes: 5 10 15 20 25 30 !default;

@include utils-class('spacer') {
	$class-name: utils-class-name('spacer');

	&#{&}--block {
		display: block;

		@each $size in $utils-spacer-gap-sizes {
			&.#{$class-name}--#{$size} {
				height: utils-rem($size);
			}
		}
	}
	&#{&}--inline {
		display: inline-block;

		@each $size in $utils-spacer-gap-sizes {
			&.#{$class-name}--#{$size} {
				width: utils-rem($size);
			}
		}
	}
}