@include utils-class('text') {
	&#{&}--normal {
		@include utils-extend('text', 'default' 'size-normal');
	}
	&#{&}--muted {
		@include utils-extend('text', 'muted');
	}
	&#{&}--bold {
		@include utils-extend('text', 'bold');
	}
	@each $size in $utils-text-sizes {
		&#{&}--size-#{$size} {
			@include utils-extend('text', 'size-#{$size}');
		}
		&#{&}--size-relative-#{$size} {
			@include utils-extend('text', 'size-relative-#{$size}');
		}
	}
	&#{&}--center {
		@include utils-extend('text', 'center');
	}
	&#{&}--middle {
		@include utils-extend('text', 'middle');
	}
	&#{&}--no-wrap {
		@include utils-extend('text', 'no-wrap');
	}
	&#{&}--green {
		@include utils-extend('text', 'green');
	}
}

strong {
	@include utils-extend('text', 'bold');
}