// /*
//  ████████ ███████ ██   ██ ████████
//     ██    ██       ██ ██     ██
//     ██    █████     ███      ██
//     ██    ██       ██ ██     ██
//     ██    ███████ ██   ██    ██
// */
// #text
@function utils-text-size-rem($size) {
	@return utils-rem($size);
}
@function utils-text-size-em($size, $parent-size: $utils-text-size) {
	@return utils-em($size, $parent-size);
}

$utils-text-sizes: 10 12 16 20 24 !default;
$utils-text-size: 16 !default;
$utils-text-family: sans-serif !default;
$utils-text-family-alt: sans-serif !default;
$utils-text-line-height: 1.3 !default;
$utils-text-color: #000 !default;
$utils-text-color-muted: #999 !default;
$utils-text-color-green: green !default;

// #default #normal
@include utils-placeholder('text') {
	font-size: 1em;
	font-weight: 400;
	font-family: $utils-text-family;
	font-style: normal;
	line-height: $utils-text-line-height;
	color: $utils-text-color;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
// #muted
@include utils-placeholder('text', 'muted') {
	color: $utils-text-color-muted;
}
// #bold
@include utils-placeholder('text', 'bold') {
	font-weight: 700;
}
// #sizes
@include utils-placeholder('text', 'size-normal') {
	font-size: utils-text-size-rem($utils-text-size);
}
@include utils-placeholder('text', 'size-normal-relative') {
	font-size: utils-text-size-em($utils-text-size);
}
@each $size in $utils-text-sizes {
	@include utils-placeholder('text', 'size-#{$size}') {
		font-size: utils-text-size-rem($size);
	}
	@include utils-placeholder('text', 'size-relative-#{$size}') {
		font-size: utils-text-size-em($size);
	}
}
// #center
@include utils-placeholder('text', 'center') {
	text-align: center;
}
// #middle
@include utils-placeholder('text', 'middle') {
	vertical-align: middle;
}
// #no-wrap
@include utils-placeholder('text', 'no-wrap') {
	white-space: nowrap;
}
// #green
@include utils-placeholder('text', 'green') {
	color: $utils-text-color-green;
}
// #alt-font
@include utils-placeholder('text', 'alt-font') {
	font-family: $utils-text-family-alt;
}