$utils-media: 'mobile' 'desktop' !default;
$utils-media-breakpoint: (
	'mobile-desktop': 640
) !default;
$utils-namespace: '' !default;
$utils-root-text-size: 10 !default;
$utils-tags-text-input: 'textarea' 'input' 'input[type="text"]' !default;
$utils-tags-button: 'button' 'input' 'input[type="button"]' 'input[type="submit"]' !default;
$utils-tags-heading: 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' !default;
$utils-top-layer: 32767;

@function utils-namespace($namespace: $utils-namespace) {
	@return utils-prefix($namespace);
}
@function utils-prefix($name, $appendix: '-') {
	$name: if($name, nth($name, 1), ''); // если $name false или null преобразовать в пустую строку
	@return if(str_length('#{$name}') == 0, '', '#{$name}#{$appendix}'); // '#{$name}' - на случай использования ключевого слова как например `green`
}
@function utils-suffix($name, $appendix: '--') {
	$name: if($name, nth($name, 1), ''); // если $name false или null преобразовать в пустую строку
	@return if(str_length('#{$name}') == 0, '', '#{$appendix}#{$name}'); // '#{$name}' - на случай использования ключевого слова как например `green`
}
@function utils-keyword($name) {
	@return utils-suffix($name, '--_');
}
@function utils-mod($name) {
	@return if($name == 'default', '', utils-suffix($name));
}
@function utils-mods($mods) {
	@if index($mods, 'default') == null {
		$mods: append($mods, 'default');
	}
	@return $mods;
}
@function utils-em($px, $base: 16) {
	@return $px / $base + 0em;
}
@function utils-rem($px, $base: $utils-root-text-size) {
	@return $px / $base + 0rem;
}
@function utils-name($name, $namespace: $utils-namespace) {
	@return '#{utils-namespace($namespace)}#{$name}';
}
@function utils-class-name($class, $namespace: $utils-namespace) {
	@return utils-name($class, $namespace);
}
@function utils-class-selector($class) {
	@return '.#{utils-class-name($class)}';
}

// /*
//   ██████ ██       █████  ███████ ███████
//  ██      ██      ██   ██ ██      ██
//  ██      ██      ███████ ███████ ███████
//  ██      ██      ██   ██      ██      ██
//   ██████ ███████ ██   ██ ███████ ███████
// */
// #class
@mixin utils-class($class, $targets: null) {
	.#{utils-class-name($class)} {
		@content;
	}
	@if $targets {
		@include utils-class-apply($class, $targets) {
			@content;
		}
	}
}
@mixin utils-class-apply($class, $targets) {
	#{join($targets, (), comma)} {
		&.#{utils-class-name($class)} {
			@content;
		}
	}
}

// /*
//  ███    ███  ██████  ██████  ██ ███████ ██  ██████  █████  ████████  ██████  ██████
//  ████  ████ ██    ██ ██   ██ ██ ██      ██ ██      ██   ██    ██    ██    ██ ██   ██
//  ██ ████ ██ ██    ██ ██   ██ ██ █████   ██ ██      ███████    ██    ██    ██ ██████
//  ██  ██  ██ ██    ██ ██   ██ ██ ██      ██ ██      ██   ██    ██    ██    ██ ██   ██
//  ██      ██  ██████  ██████  ██ ██      ██  ██████ ██   ██    ██     ██████  ██   ██
// */
// #modificator
@mixin utils-modificator($class, $mod: 'default', $output: true) {
	@at-root {
		@include utils-placeholder($class, $mod) {
			@content;
		}
	}
	@if $output {
		$class-name: utils-class-name($class);
		$selector: '.#{$class-name}';
		@if $mod != 'default' {
			$selector: $selector + '.#{$class-name}#{utils-mod($mod)}';
		}
		#{$selector} {
			@include utils-extend($class, $mod);
		}
	}
}

// /*
//  ███████ ██   ██ ████████ ███████ ███    ██ ██████
//  ██       ██ ██     ██    ██      ████   ██ ██   ██
//  █████     ███      ██    █████   ██ ██  ██ ██   ██
//  ██       ██ ██     ██    ██      ██  ██ ██ ██   ██
//  ███████ ██   ██    ██    ███████ ██   ████ ██████
// */
// #extend
@mixin utils-extend($extender, $mods: 'default', $media: null, $optional: false) {
	$media: utils-keyword($media);
	$class-name: utils-class-name($extender);
	@each $mod in $mods {
		$is-optional: if($mod == 'default' or $optional, true, false);
		$mod: utils-mod($mod);
		@if $is-optional {
			@extend %#{$class-name}#{$mod}#{$media} !optional;
		} @else {
			@extend %#{$class-name}#{$mod}#{$media};
		}
	}
}

// /*
//  ██████  ██       █████   ██████ ███████ ██   ██  ██████  ██      ██████  ███████ ██████
//  ██   ██ ██      ██   ██ ██      ██      ██   ██ ██    ██ ██      ██   ██ ██      ██   ██
//  ██████  ██      ███████ ██      █████   ███████ ██    ██ ██      ██   ██ █████   ██████
//  ██      ██      ██   ██ ██      ██      ██   ██ ██    ██ ██      ██   ██ ██      ██   ██
//  ██      ███████ ██   ██  ██████ ███████ ██   ██  ██████  ███████ ██████  ███████ ██   ██
// */
// #placeholder
@mixin utils-placeholder($name, $mod: 'default', $all-media: true) {
	$ns: utils-namespace();
	$mod: utils-mod($mod);
	%#{$ns}#{$name}#{$mod} {
		@content;
	}
	@if $all-media {
		@each $media in $utils-media {
			@include utils-media($media) {
				$media: utils-keyword($media);
				%#{$ns}#{$name}#{$mod}#{$media} {
					@content;
				}
			}
		}
	}
}
@mixin utils-placeholder-extend($extendee, $extendee-mod, $extender, $extender-mods: 'default', $optional: false) {
	$ns: utils-namespace();
	$extendee-mod: utils-mod($extendee-mod);
	%#{$ns}#{$extendee}#{$extendee-mod} {
		@include utils-extend($extender, $extender-mods, null, $optional);
		@content;
	}
	@each $media in $utils-media {
		@include utils-media($media) {
			$media-prefix: utils-keyword($media);
			%#{$ns}#{$extendee}#{$extendee-mod}#{$media-prefix} {
				@include utils-extend($extender, $extender-mods, $media, $optional);
				@content;
			}
		}
	}
}
@mixin utils-placeholder-child($name, $mod, $class, $mods: null) {
	$ns: utils-namespace();
	$mod: utils-mod($mod);
	%#{$ns}#{$name}#{$mod} {
		@include utils-child($class, $mods) {
			@content;
		}
	}
	@each $media in $utils-media {
		@include utils-media($media) {
			$media-prefix: utils-keyword($media);
			%#{$ns}#{$name}#{$mod}#{$media-prefix} {
				@include utils-child($class, $mods, $media) {
					@content;
				}
			}
		}
	}
}
@mixin utils-placeholder-direct-child($name, $mod, $class, $mods: null) {
	$ns: utils-namespace();
	$mod: utils-mod($mod);
	%#{$ns}#{$name}#{$mod} {
		@include utils-direct-child($class, $mods) {
			@content;
		}
	}
	@each $media in $utils-media {
		@include utils-media($media) {
			$media-prefix: utils-keyword($media);
			%#{$ns}#{$name}#{$mod}#{$media-prefix} {
				@include utils-direct-child($class, $mods, $media) {
					@content;
				}
			}
		}
	}
}

// /*
//   ██████ ██   ██ ██ ██      ██████
//  ██      ██   ██ ██ ██      ██   ██
//  ██      ███████ ██ ██      ██   ██
//  ██      ██   ██ ██ ██      ██   ██
//   ██████ ██   ██ ██ ███████ ██████
// */
// #child
@mixin utils-child($class, $mods: null, $media: null, $optional: false) {
	.#{utils-class-name($class)} {
		@include utils-extend($class, $mods, $media, $optional);
		@content;
	}
}
@mixin utils-direct-child($class, $mods: null, $media: null, $optional: false) {
	> .#{utils-class-name($class)} {
		@include utils-extend($class, $mods, $media, $optional);
		@content;
	}
}

// /*
//  ███    ███ ███████ ██████  ██  █████
//  ████  ████ ██      ██   ██ ██ ██   ██
//  ██ ████ ██ █████   ██   ██ ██ ███████
//  ██  ██  ██ ██      ██   ██ ██ ██   ██
//  ██      ██ ███████ ██████  ██ ██   ██
// */
// #media
@mixin utils-media($media) {
	@if not index($utils-media, $media) {
		@error 'Название медиа-пространства указано неверно ("#{$media}"): такого нет в $utils-media';
	}
	@if length($utils-media) > 1 {
		$i: index($utils-media, $media);
		$l: length($utils-media);
		@if $i == 1 {
			@media (max-width: utils-em(nth(nth($utils-media-breakpoint, $i), 2))) {
				@content;
			}
		} @else if $i > 1 and $i < $l {
			@media 
				(min-width: utils-em(nth(nth($utils-media-breakpoint, $i - 1), 2)) + .01em)
				and 
				(max-width: utils-em(nth(nth($utils-media-breakpoint, $i), 2)))
			{
				@content;
			}
		} @else if $i == $l {
			@media (min-width: utils-em(nth(nth($utils-media-breakpoint, $i - 1), 2)) + .01em) {
				@content;
			}
		}
	}
}

// /*
//  ███████ ████████ ██████  ██ ███    ██  ██████      ████████  ██████
//  ██         ██    ██   ██ ██ ████   ██ ██              ██    ██    ██
//  ███████    ██    ██████  ██ ██ ██  ██ ██   ███        ██    ██    ██
//       ██    ██    ██   ██ ██ ██  ██ ██ ██    ██        ██    ██    ██
//  ███████    ██    ██   ██ ██ ██   ████  ██████         ██     ██████
// 
//  ███    ██ ██    ██ ███    ███ ██████  ███████ ██████
//  ████   ██ ██    ██ ████  ████ ██   ██ ██      ██   ██
//  ██ ██  ██ ██    ██ ██ ████ ██ ██████  █████   ██████
//  ██  ██ ██ ██    ██ ██  ██  ██ ██   ██ ██      ██   ██
//  ██   ████  ██████  ██      ██ ██████  ███████ ██   ██
// */
// #string #number
///
/// Casts a string into a number
/// https://www.sassmeister.com/gist/9fa19d254864f33d4a80
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function utils-to-number($value) {
	@if type-of($value) == 'number' {
		@return $value;
	} @else if type-of($value) != 'string' {
		$_: log('Value for `to-number` should be a number or a string.');
	}

	$result: 0;
	$digits: 0;
	$minus: str-slice($value, 1, 1) == '-';
	$numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

	@for $i from if($minus, 2, 1) through str-length($value) {
		$character: str-slice($value, $i, $i);

		@if not (index(map-keys($numbers), $character) or $character == '.') {
			@return utils-to-length(if($minus, -$result, $result), str-slice($value, $i));
		}

		@if $character == '.' {
			$digits: 1;
		} @else if $digits == 0 {
			$result: $result * 10 + map-get($numbers, $character);
		} @else {
			$digits: $digits * 10;
			$result: $result + map-get($numbers, $character) / $digits;
		}
	}

	@return if($minus, -$result, $result);
}

///
/// Add `$unit` to `$value`
/// https://www.sassmeister.com/gist/9fa19d254864f33d4a80
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function utils-to-length($value, $unit) {
	$units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);

	@if not index(map-keys($units), $unit) {
		$_: log('Invalid unit `#{$unit}`.');
	}

	@return $value * map-get($units, $unit);
}

// /*
//  ██    ██ ███████ ███    ██ ██████   ██████  ██████
//  ██    ██ ██      ████   ██ ██   ██ ██    ██ ██   ██
//  ██    ██ █████   ██ ██  ██ ██   ██ ██    ██ ██████
//   ██  ██  ██      ██  ██ ██ ██   ██ ██    ██ ██   ██
//    ████   ███████ ██   ████ ██████   ██████  ██   ██
// 
//  ██████  ██████  ███████ ███████ ██ ██   ██
//  ██   ██ ██   ██ ██      ██      ██  ██ ██
//  ██████  ██████  █████   █████   ██   ███
//  ██      ██   ██ ██      ██      ██  ██ ██
//  ██      ██   ██ ███████ ██      ██ ██   ██
// */
// #vendor #prefix
@mixin utils-vendor-prefix($prop, $value) {
	@if $prop == keyframes {
		@-webkit-keyframes #{$value} {
			@content;
		}
		@keyframes #{$value} {
			@content;
		}
	}
	@if $prop == 'user-select' {
		-webkit-user-select: $value;
		-moz-user-select: $value;
		-ms-user-select: $value;
		user-select: $value;
	}
	@if $prop == 'appearance' {
		-webkit-appearance: $value;
		-moz-appearance: $value;
		appearance: $value;
	}
	@if $prop == 'animation' {
		-webkit-animation: $value;
		animation: $value;
	}
	@if $prop == 'transform' {
		-webkit-transform: $value;
		transform: $value;
	}
	@if $prop == 'transform-origin' {
		-webkit-transform-origin: $value;
		transform-origin: $value;
	}
	@if $prop == 'transition' {
		-webkit-transition: -webkit-#{$value};
		transition: $value;
	}
	// @if $prop == prop {}
}

// /*
//  ███    ███ ██ ██   ██
//  ████  ████ ██  ██ ██
//  ██ ████ ██ ██   ███
//  ██  ██  ██ ██  ██ ██
//  ██      ██ ██ ██   ██
// 
//  ███    ███  ██████  ██████  ███████
//  ████  ████ ██    ██ ██   ██ ██
//  ██ ████ ██ ██    ██ ██   ██ ███████
//  ██  ██  ██ ██    ██ ██   ██      ██
//  ██      ██  ██████  ██████  ███████
// */
// #mixmods #mods
@mixin utils-mix-mods(
	$class,
	$set1,
	$set2,
	$set3,
	$default1,
	$default2,
	$default3,
	$selector: &
) {
	@each $item1 in $set1 {
		$mod1: if(type-of($item1) == list, nth($item1, 2), $item1);
		$alias1: if(type-of($item1) == list, nth($item1, 1), $item1);
		$mods1: $mod1;

		@if $default2 != null {
			$mods1: append($mods1, $default2);
		}
		@if $default3 != null {
			$mods1: append($mods1, $default3);
		}

		&#{$selector}--#{$alias1} {
			@include utils-extend($class, $mods1);
		}

		@if $set2 != null {
			@each $item2 in $set2 {
				$mod2: if(type-of($item2) == list, nth($item2, 2), $item2);
				$alias2: if(type-of($item2) == list, nth($item2, 1), $item2);
				$mods2-1: $mod2;
				$mods2-2: $mod1 $mod2;

				@if $default1 != null {
					$mods2-1: append($mods2-1, $default1);
				}
				@if $default3 != null {
					$mods2-1: append($mods2-1, $default3);
					$mods2-2: append($mods2-2, $default3);
				}

				&#{$selector}--#{$alias2} {
					@include utils-extend($class, $mods2-1);
				}
				&#{$selector}--#{$alias1}#{$selector}--#{$alias2} {
					@include utils-extend($class, $mods2-2);
				}

				@if $set3 != null {
					@each $item3 in $set3 {
						$mod3: if(type-of($item3) == list, nth($item3, 2), $item3);
						$alias3: if(type-of($item3) == list, nth($item3, 1), $item3);
						$mods3: $mod3;

						@if $default1 != null {
							$mods3: append($mods3, $default1);
						}
						@if $default2 != null {
							$mods3: append($mods3, $default2);
						}

						&#{$selector}--#{$alias3} {
							@include utils-extend($class, $mods3);
						}
						&#{$selector}--#{$alias1}#{$selector}--#{$alias2}#{$selector}--#{$alias3} {
							@include utils-extend($class, $mod1 $mod2 $mod3);
						}
					}
				}
			}
		}
	}
}
//	███████ ██    ██  ██████
//	██      ██    ██ ██
//	███████ ██    ██ ██   ███
//	     ██  ██  ██  ██    ██
//	███████   ████    ██████
// 
//	██  ██████  ██████  ███    ██
//	██ ██      ██    ██ ████   ██
//	██ ██      ██    ██ ██ ██  ██
//	██ ██      ██    ██ ██  ██ ██
//	██  ██████  ██████  ██   ████
// 
// #svg #icon
@mixin utils-svg-icon($size: 20, $stroke-color: #000, $stroke-width: 2, $fill: none, $viewbox-size: 100, $size-relative: true, $size-base: 16) {
	@if $size-relative == true {
		width: utils-em($size, $size-base);
		height: utils-em($size, $size-base);
	} @else {
		width: utils-rem($size, $size-base);
		height: utils-rem($size, $size-base);
	}
	fill: $fill;
	stroke: $stroke-color;
	stroke-width: $viewbox-size / $size * $stroke-width + px;
}